			<br><input type="button" value="Submit" onClick="payment_api.send();">
			<?/*
			<input type="hidden" id="currency" value="usd">
			<input type="hidden" id="quantity1" value="1">
			<input type="hidden" id="publisher_email" value="info@oneluckyduck.com">
			<input type="hidden" id="paymethod" value="mpgiftcard">

			<input type="hidden" id="publisher_name" value="oneluckydu">
			<input type="hidden" id="convert" value="underscores">

			<h2>Personal Information</h2>
			<ul>
				<li><label for="email">email</label><input type="text" id="email" value=""></li>
				<li><label for="phone">phone</label><input type="text" id="phone" value=""></li>
			</ul>


			<h2>Credit Card Information</h2>
			<!--
			<ul>
				<li><label for="card_name">your name</label><input type="text" id="card_name" value=""></li>
				<li><label for="card_company">card company</label><input type="text" id="card_company" value=""></li>
				<li><label for="card_address1">card address 1</label><input type="text" id="card_address1" value=""></li>
				<li><label for="card_address2">card address 2</label><input type="text" id="card_address2" value=""></li>
				<li><label for="card_city">card city</label><input type="text" id="card_city" value=""></li>
				<li><label for="card_state">card state</label><input type="text" id="card_state" value=""></li>
				<li><label for="card_zip">card zip</label><input type="text" id="card_zip" value=""></li>
				<li><label for="card_country">card country</label><input type="text" id="card_country" value=""></li>
				<li><label for="cost">cost</label><input type="text" value="" id="cost">
			</ul>

			<h2>Gift Card Information</h2>
			<ul>
				<li><label for="mpgiftcard">gift card number</label><input type="text" id="mpgiftcard" value=""></li>
				<li><label for="mpcvv">gift card cvv</label><input type="text" id="mpcvv" value=""></li>
			</ul>

			<h2>Shipping Information</h2>
			<ul>
				<li><label for="shipname">ship name</label><input type="text" id="shipname" value=""></li>
				<li><label for="shipcompany">ship company</label><input type="text" id="shipcompany" value=""></li>
				<li><label for="address1">ship address 1</label><input type="text" id="address1" value=""></li>
				<li><label for="address2">ship address 2</label><input type="text" id="address2" value=""></li>
				<li><label for="city">ship city</label><input type="text" id="city" value=""></li>
				<li><label for="state">ship state</label><input type="text" id="state" value=""></li>
				<li><label for="zip">ship zip</label><input type="text" id="zip" value=""></li>
				<li><label for="country">ship country</label><input type="text" name="country" value=""></li>
				<li><label for="cost">cost</label><input type="text" value="" id="cost">
			</ul>
			-->

			<input type="hidden" id="payment_response" name="payment_response" value="">
			<input type="button" id="submitbutton" value="Submit" onclick="payment_api.send();">
*?>
