body {
	margin: 0;
	padding: 0;
	font: 1rem/1.5 normal "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555;
}
label,
input {
	display: inline-block;
	cursor: pointer;
}
label {
	width: 200px;
	padding: 5px;
}
input {
	margin: 0;
	padding: 6px 4px;
	outline: none;
	max-width: 100%;
	border-radius: 2px;
	border: 1px solid #ccc;
	background: #fff;
	font-size: 13px;
	color: #777;
}
input:disabled,
input[type="submit"]:disabled { cursor: default; }

input[type="submit"],
input[type="submit"]:disabled {
	background: #eee;
	background: -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
	background: linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
	border: 1px solid #aaa;
	border-top-color: #ccc;
	border-left-color: #ccc;
	padding: 3px 12px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #444;
	display: inline-block;
	font: 11px/21px bold "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	text-shadow: 0 1px rgba(255, 255, 255, .75);
	cursor: pointer;
	margin-bottom: 20px;
}
input:disabled {
	border: 1px solid #f7f7f7;
	background-color: #f7f7f7;
	box-shadow: 0 0 0 transparent;
}
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

li { margin-bottom: 10px; }
#pnp-info li { margin-bottom: 0; padding: 0 10px; }
.gc-container {
	display: inline-block;
	border-radius: 4px;
	border: 2px solid #e6e6e6;
	background-color: #f7f7f7;
	margin: 10px;
	padding: 0 20px 20px;
}

.cost input { margin-left: 5px; }
.helper-img {
	display: inline-block;
	vertical-align: middle;
	width: 230px;
	height: 57px;
	background-color: transparent;
	background-image: url('../img/gc-back.png');
	background-repeat: no-repeat;
	opacity: .8;
}
li:hover .helper-img { opacity: 1; }

.helper-img,
li:hover .helper-img,
.msg-wrapper,
.msg-warn {
	-webkit-transition: all ease-in-out 0.15s;
	   -moz-transition: all ease-in-out 0.15s;
	    -ms-transition: all ease-in-out 0.15s;
	     -o-transition: all ease-in-out 0.15s;
	        transition: all ease-in-out 0.15s;
}
.gc-number .helper-img { background-position: 0 -3px;  }
.gc-cvv .helper-img    { background-position: 0 -65px; }


.credit-card-img {
	display: inline-block;
	width: 145px;
	height: 20px;
	position: relative;
	top: 5px;
}
.icon-credit {
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url('../img/cardicons-sprite.png');
	width: 32px;
	height: 20px;
	opacity: 1;
}
.icon-visa                { background-position:   0px  -20px; }
.icon-mastercard          { background-position: -32px  -20px; }
.icon-amex                { background-position: -64px  -20px; }
.icon-discover            { background-position: -96px  -20px; }

.icon-visa.selected       { background-position:   0px  0; opacity: 1; }
.icon-mastercard.selected { background-position: -32px  0; opacity: 1; }
.icon-amex.selected       { background-position: -64px  0; opacity: 1; }
.icon-discover.selected   { background-position: -96px  0; opacity: 1; }

.icon-credit,
.icon-credit.selected {
	-webkit-transition: all ease-in-out 0.15s;
	   -moz-transition: all ease-in-out 0.15s;
	    -ms-transition: all ease-in-out 0.15s;
	     -o-transition: all ease-in-out 0.15s;
	        transition: all ease-in-out 0.15s;
}


.invalid-card {
	display: inline-block;
	position: relative;
	top: 0;
	line-height: 1;
	font-style: italic;
	font-size: 50%;
}

/* messaging */
.message {
	margin: 10px;
	margin-left: 0;
	padding: 10px;
	border-radius: 2px;
	background-color: #fff;
	border: 1px solid #e4e4e4;
}
.message .msg-txt {
	font-weight: normal;
	font-size: .8rem;
}
.msg-wrapper .msg-txt { color: #b30905; }
.message[class*="error"] .msg-txt:first-child { color: #b30905; }
.message[class*="error"] .msg-txt:first-child,
.message.success .msg-txt:first-child { font-weight: bold; }

.msg-wrapper {
	width: 200px;
	padding: 3px 5px 5px;
	border-radius: 2px;
	display: inline-block;
	border: 1px solid transparent;
}
.msg-warn {
	background-color: #fffbe5;
	border: 1px solid #fed600;
}
.msg-txt {
	margin: 0;
	padding: 0;
	font-size: .7rem;
	font-weight: bold;
}
.message .reset-form {
	color: #f83172;
	cursor: pointer;
}
.message .reset-form:hover { text-decoration: underline; }

.message .reset-form,
.message .reset-form:hover {
	-webkit-transition: all ease-in-out 0.15s;
	   -moz-transition: all ease-in-out 0.15s;
	    -ms-transition: all ease-in-out 0.15s;
	     -o-transition: all ease-in-out 0.15s;
	        transition: all ease-in-out 0.15s;
}


/* --- Helpers --- */
.hide { display: none; }